@mixin bg-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@mixin flex-col-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}